# Dependencies
node_modules/

# OS
.DS_Store

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local

*.local.json

# Pack artifacts
*.tgz

# Expo
.expo/

# Build artifacts
test-app/ios/
test-app/android/
test-app/build/

# vitest-react-native-runtime
.vitest-native/
